
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/dudlaj.me.png) no-repeat;
    background-position: center;
    background-size: 90%;
}



/* --- header sekcija --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2rem;
    font-family: Righteous;
    color: rebeccapurple;
    user-select: none;
    cursor: pointer;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: rebeccapurple;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
}

/* --- zezalica ---  */  
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rebeccapurple;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.loginBtn-popup {
    width: 120px;
    height: 45px;
    background: transparent;
    border: 2px solid rebeccapurple;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1rem;
    color: rebeccapurple;
    font-weight: 700;
    margin-left: 40px;
    transition: .5s;

}

.loginBtn-popup:hover {
    background: rebeccapurple;
    color: white;
}


/* --- login sekcija --- */
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255 .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .95);
    display: flex;
    justify-content: center;

}

.login-form {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form h2 {
    font-size: 2rem;
    font-family: Righteous;
    text-align: center;
    color: white;
    user-select: none;
   
}

.input-box input {
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    padding: 15px;
    border: none;
    outline: none;

}

.remeber-forgot input {
    border-radius: 25px;

}



.login-form button {
  
    width: 160px;
    height: 45px;
    background: white;
    border: 2px solid rebeccapurple;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1rem;
    color: rebeccapurple;
    font-weight: 700;
    transition: .5s;
}

.login-form button:hover {
    background: rebeccapurple;
    color: white;
}